<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--是否导出客户端和服务端Lua 文件-->
    <add key="GenerateServer" value="true" />
    <add key="GenerateClient" value="true" />
    <!--导入文件路径-->
    <add key="InputPath" value="./" />
    <!--导出文件路径-->    
    <add key="ClientOutPath" value="../Client/Solution/Assets/LuaScript/Config" />
    <add key="ServerOutPath" value="../Server/src/GameServer/GameScript/Config" />
	
    <!--分割符号 ItemSplitString 条目分割符号，ValueSplitString 数据分割符号-->
    <add key="ItemSplitString" value="|" />
    <add key="ValueSplitString" value="*" />
    <!--table 类型字段 空白字符-->
    <add key="TableEmptyValue" value="0" />
    <!--是否加密导出的客服端文件-->
    <add key="EncryptClientFile" value="false" />
    <!--客户端命名空间-->
    <add key="ClientNameSpace" value="data" />
    <!--客户端引用的Lua文件-->
    <add key="ClientRequireLua" value="" />
    <!--服务端命名空间-->
    <add key="ServerNameSpace" value="" />
    <!--服务端引用的Lua文件-->
    <add key="ServerRequireLua" value="" />
  </appSettings>
</configuration>